// scroll btn style
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 40px;
    background-color: #FFCD1E;
    border-radius: 0;
    padding: .3rem .5rem;
    border: none;
    cursor: pointer;
    transition: all opacity 10s visibility 10s;
    z-index: 8;
}

#backToTopBtn.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

#backToTopBtn.hide {
    opacity: 0;
    visibility: hidden;
}

// nav style
.nav-business {
    position: sticky;
    top: 240px;
    margin-left: 3rem;
    z-index: 10;

    ul {
        list-style: none;
    }

    li {
        margin-top: 1rem;
    }

    ul li a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        transition: all .4s;
        font-size: .9rem;
        display: inline;
    }

    ul li a:hover {
        color: #FFCD1E;
        font-weight: 700;
        letter-spacing: .5px;
    }

    ul li a:focus {
        color: #273968;
        font-weight: 700;
        letter-spacing: .5px;
    }

    ul li a:active {
        font-weight: 700;
        letter-spacing: .5px;
    }
}

// intro style
.section-intro {
    margin-top: -150px;

    img {
        width: 100%;
        position: relative;
    }
}

.section-intro__info {
    position: absolute;
    top: 30vh;
    color: white;
    padding-left: 12rem;
    padding-right: 12rem;
    box-sizing: border-box;
    z-index: 3;

    h1 {
        font-size: 3.2rem;
    }

    p {
        margin-top: 1.4rem;
        font-weight: 500;
        font-size: 1.2rem;
    }

    span {
        font-weight: 700;
        font-size: 1.1rem;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 1.1rem;
        transition: all .4s;
    }

    a:hover {
        color: #FFCD1E;
    }
}

.section-intro__icons {
    div {
        position: absolute;
        bottom: .5rem;
        left: 44%;
        transform: translateX(-50%);
        display: flex;
    }

    img {
        flex-direction: column;
        margin-left: 7rem;
    }
}

// reasons style
.section-reasons {
    margin-top: 7rem;

    div {
        width: 68px;
        height: 2.4px;
        margin-right: .6rem;
        background-color: #FFCD1E;
        border: none;
        display: inline-block;
    }

    span {
        color: #FFCD1E;
        letter-spacing: .4px;
        vertical-align: middle;

        font: {
            size: 1.1rem;
            weight: 700
        }
    }

    h2 {
        color: #273968;
        line-height: 1.1;

        margin: {
            top: 1.5rem;
            bottom: 4rem;
        }

        padding: {
            left: 5rem;
            right: 5rem;
        }

        font: {
            size: 2.5rem;
            weight: 700;
        }
    }

    p {
        width: 90%;
        text-align: left;
        line-height: 2;
        margin-top: 1.5rem;
        font-size: 1.04rem;
    }
}

// options style
.section-options {
    margin-top: 7rem;

    h3 {
        font: {
            weight: 700;
            size: 1.8rem;
        }

        color: #273968;
        letter-spacing: 1px;
        margin-bottom: 2rem;
        margin-left: 1.5rem;
    }

    a {
        text-decoration: none;
        color: gray;
        margin-left: 2.2rem;
        transition: all .3s;
        font-weight: 500;

        img {
            margin-right: .5rem;
        }
    }

    a:hover {
        border-bottom: 2px solid #FFCD1E;
        padding-bottom: 1rem;
        color: rgb(70, 68, 68);
    }

    a:focus {
        border-bottom: 2px solid #FFCD1E;
        padding-bottom: 1rem;
        color: rgb(70, 68, 68);
    }
}

// types style
.section-types {
    padding: {
        top: 6rem;
        bottom: 6rem;
    }

    h3 {
        color: #FFCD1E;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    a {
        text-decoration: none;
        margin-right: 1rem;
        margin-left: 1rem;
        color: grey;
        font-weight: 500;
        transition: all .3s;
    }

    a:hover {
        border-bottom: 2.5px solid #FFCD1E;
        padding-bottom: .5rem;
        color: rgb(70, 68, 68);
    }

    a:focus {
        border-bottom: 2.5px solid #FFCD1E;
        padding-bottom: .5rem;
        color: rgb(70, 68, 68);
    }
}

// stages style
.section-stages {
    padding-top: 5rem;
    background-color: #F4F3F4;

    h3 {
        color: #273968;
        text-align: center;

        font: {
            weight: 700;
            size: 2.1rem;
        }
    }

    p {
        margin-top: 2rem;
        line-height: 2;
        text-align: center;

        padding: {
            left: 12rem;
            right: 12rem;
        }
    }
}

.section-stage {
    p {
        margin-top: 7px;
        padding: 0;
        text-align: left;
        line-height: 1.4;
        font-size: .75rem;
    }
}

.stage-num {
    font-size: 2.3rem;
    color: #FFCD1E;
}

.stage-text {
    vertical-align: middle;
    font-size: .8rem;
}

// feedback style
.section-feedback {
    margin-top: 8rem;
    padding-bottom: 6rem;

    .feedback-img {
        overflow: hidden;
    }

    img {
        transform: scale(1.6);
    }
}

.check {
    margin-top: 1.3rem;
    font-size: 1rem;
    color: rgb(63, 63, 63);
    font-weight: 500;

    a {
        text-decoration: none;
        color: #FFCD1E;
        font-size: .85rem;
        transition: all .5s;
    }

    a:hover {
        color: #273968;
    }
}

.animated-button__two {
    padding: .8rem 2rem;
    font-size: 1.05rem;
    font-weight: 500;
    background-color: #273968;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    overflow: hidden;
}

.animated-button__two:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFCD1E;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
    z-index: -1;
}

.animated-button__two:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFCD1E;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    z-index: -1;
}

.animated-button__two:hover:before {
    transform: scaleX(1);
}

.animated-button__two:hover:after {
    transform: scaleX(1);
}

.animated-button__two:hover {
    background-color: #FFCD1E;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}