#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 40px;
  background-color: #FFCD1E;
  border-radius: 0;
  padding: 0.3rem 0.5rem;
  border: none;
  cursor: pointer;
  transition: all opacity 10s visibility 10s;
  z-index: 8;
}

#backToTopBtn.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

#backToTopBtn.hide {
  opacity: 0;
  visibility: hidden;
}

.product__bg {
  overflow: hidden;
}

.product__bg img {
  position: relative;
  margin-top: 11.8rem;
  transform: scale(1.4);
}

.product-info {
  position: absolute;
  color: white;
  top: 30vh;
  transform: translateX(270%);
}

.product-info h4 {
  font-size: 3rem;
  font-weight: 700;
  color: #273968;
}

.product-info a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin-right: .5rem;
  transition: all .5s;
  &:hover {
    color: #FFCD1E;
  }
}

.product-info span {
  font-weight: 700;
  margin-left: .5rem;
  color: #273968;
}